@import "@/assets/scss/vars/modifiers/colors";

.header {
  display: flex;
  border-bottom: 1px solid $grey2;
  padding-bottom: 0.5rem;

  @media all and (max-width: 1200px) {
    display: none;
  }

  &__th {
    font-weight: 700;
    font-size: 0.875rem;
  }

  &__th {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &--school {
      width: 50%;

      @media all and (max-width: 1200px) {
        width: 100%;
      }
    }

    &--description {
      width: 50%;

      @media all and (max-width: 1200px) {
        width: 100%;
      }
    }

    &--courses {
      width: 50%;

      @media all and (max-width: 1200px) {
        width: 100%;
      }
    }

    &--rating {
      width: 50%;

      @media all and (max-width: 1200px) {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }

  &__sortable {
    cursor: pointer;
    margin-right: 0.25rem;
  }
}