$primary: #000000;
$white: #ffffff;
$black: #000000;
$fonts: (
  "Arial",
  "Montserrat",
  "sans-serif"
);
$font_size: 1rem;
$line_height: 1.2rem;

$resolutions: (
  xxs: 360px,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xxxl: 1200px,
);

$step: 0.2;

$ranges: (
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  20,
  25,
  30
);

$ranges_minus: (
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10
);

$images: (
  15,
  30,
  50,
  100,
  150,
  250,
  300,
  400,
  500,
  600,
  700,
  800,
  1000,
  1400,
  1800,
  2100
);
