@import "/assets/scss/vars/modifiers/main";

$title_1_color: $black;
$title_1_font: nth($fonts, 1), nth($fonts, 3);

$title_2_color: $black;
$title_2_font: nth($fonts, 1), nth($fonts, 3);

$title_3_color: $black;
$title_3_font: nth($fonts, 1), nth($fonts, 3);

$title_4_color: $black;
$title_4_font: nth($fonts, 1), nth($fonts, 3);

$title_5_color: $black;
$title_5_font: nth($fonts, 1), nth($fonts, 3);

$title_6_color: $black;
$title_6_font: nth($fonts, 1), nth($fonts, 3);
