@import "@/assets/scss/vars/modifiers/colors";

.card {
  position: absolute;
  right: 0;
  width: 440px;
  bottom: 0;

  @media all and (max-width: 1600px) {
    right: 50px;
  }

  @media all and (max-width: 1200px) {
    position: static;
    width: auto;
  }

  &--scroll {
    top: 0;
    bottom: auto;
  }

  &__box {
    z-index: 5;
    border-radius: 1rem;
    box-shadow: 0 16px 54px rgba(0, 0, 0, 0.08);
    width: 400px;
    position: absolute;
    background-color: $white;
    bottom: 0;
    padding: 1.5rem;

    @media all and (max-width: 1200px) {
      position: static;
      width: 100%;
      margin-top: 3rem;
      box-shadow: 0 16px 54px rgba(0, 0, 0, 0.064);
    }

    @media all and (max-width: 768px) {
      position: static;
      width: 100%;
      margin-top: 1rem;
      box-shadow: 0 16px 54px rgba(0, 0, 0, 0.064);
    }

    &--scroll {
      position: fixed;
      top: 150px;
      bottom: auto;

      @media all and (max-width: 1200px) {
        position: static;
      }
    }
  }

  &__row {
    padding-bottom: 1rem;

    &--horizontal {
      display: flex;
      align-items: center;
    }

    &--line {
      border-bottom: 1px solid $grey1;
      margin-bottom: 1rem;
    }
  }

  &__content-logo {
    flex-grow: 1;
  }

  &__logo {
    width: 100%;
    max-width: 120px;
    height: auto;
    line-height: 0;
  }

  &__amount-review {
    display: flex;
    flex-grow: 0;
    text-align: right;
  }

  &__amount-review-icon {
    margin-right: 0.5rem;
  }

  &__content-statistic,
  &__content-rating {
    width: 50%;
  }

  &__content-statistic {
    padding-right: 1rem;
  }

  &__content-rating {
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }

  &__content-rating-number {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 3.5rem;

    @media all and (max-width: 768px) {
      font-size: 3rem;
      line-height: 3rem;
    }

    @media all and (max-width: 420px) {
      font-size: 2.7rem;
      line-height: 2.7rem;
    }
  }

  &__content-rating-icon {
    margin-left: 0.6875rem;
  }

  &__statistic {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
  }

  &__statistic-amount {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 20px;
  }

  &__statistic-item {
    flex-grow: 1;
  }

  &__statistic-bar {
    border: 1px solid $blue2;
    background-color: $blue2;
    border-radius: 0.75rem;
    height: 24px;
    cursor: pointer;

    &--empty {
      background-color: transparent;
    }
  }

  &__statistic-cancel {
    line-height: 0;
    padding-left: 0.5rem;
    width: 25px;
  }

  &__statistic-cancel-icon {
    cursor: pointer;
  }

  &__statistics {
    display: flex;
    align-items: center;
  }

  &__block-statistic {
    width: 50%;
    display: flex;
    align-items: center;
  }

  &__block-statistic-icon {
    margin-right: 0.75rem;
  }

  &__block-statistic-label {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__action {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__others-label {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: $grey4;
    margin-bottom: 1rem;
  }

  &__others-school {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__others-school-rating {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-right: 0.25rem;
    width: 30px;
    min-width: 40px;
  }

  &__others-school-icon {
    padding-right: 1rem;
    margin-bottom: 2px;
    line-height: 0;
    width: calc(24px + 1rem);
    min-width: calc(24px + 1rem);
  }

  &__others-school-name {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 700;
  }

  &__others-school-reviews {
    flex-grow: 1;
    text-align: right;

    .link {
      white-space: nowrap
    }
  }
}