@import "@/assets/scss/vars/modifiers/colors";

.card {
  position: absolute;
  right: 0;
  width: 440px;
  bottom: 0;

  @media all and (max-width: 1600px) {
    right: 50px;
  }

  @media all and (max-width: 1200px) {
    position: static;
    width: auto;
  }

  &--scroll {
    top: 0;
    bottom: auto;
  }

  &__box {
    z-index: 5;
    border-radius: 1rem;
    box-shadow: 0 16px 54px rgba(0, 0, 0, 0.08);
    width: 400px;
    position: absolute;
    background-color: $white;
    bottom: 0;
    padding: 1.5rem;

    @media all and (max-width: 1200px) {
      position: static;
      width: 100%;
      margin-top: 3rem;
      box-shadow: 0 16px 54px rgba(0, 0, 0, 0.064);
    }

    @media all and (max-width: 768px) {
      position: static;
      width: 100%;
      margin-top: 1rem;
      box-shadow: 0 16px 54px rgba(0, 0, 0, 0.064);
    }

    &--scroll {
      position: fixed;
      top: 150px;
      bottom: auto;

      @media all and (max-width: 1200px) {
        position: static;
      }
    }
  }

  &__row {
    padding-bottom: 1rem;

    &--horizontal {
      display: flex;
      align-items: center;
    }

    &--line {
      border-bottom: 1px solid $grey1;
      margin-bottom: 1rem;
    }
  }

  &__logo {
    flex-grow: 1;
  }

  &__statistic,
  &__rating {
    width: 50%;
  }

  &__statistic {
    padding-right: 1rem;
  }

  &__rating {
    padding-left: 1rem;
  }
}