.header {
  display: flex;

  &__description {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 2.5rem;

    :deep {
      .reducer {
        &__content {
          &--hide {
            &::after {
              background: linear-gradient(0deg, rgba(239, 246, 251, 1) 0%, rgba(239, 246, 251, 0) 50%);
            }
          }
        }

        &__action {
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
    }
  }

  &__side {
    width: 670px;

    @media all and (max-width: 1250px) {
      width: 640px;
    }

    @media all and (max-width: 1200px) {
      width: auto;
    }
  }
}