@import "@/assets/scss/vars/modifiers/colors";

.course-box {
  width: 100%;

  &__content {
    padding: 1.5rem;
  }

  &__header {
    display: flex;
    align-items: stretch;
  }

  &__body {
    border-top: 1px solid $grey2;
    margin-top: 2rem;
    padding-top: 2rem;
  }

  &__side {
    &--center {
      display: flex;
      flex-direction: column;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &--right {
      min-width: 235px;
      max-width: 235px;
      text-align: center;
      padding-left: 1.5rem;

      @media all and (max-width: 850px) {
        min-width: auto;
        max-width: none;
        width: 100%;
        padding-left: calc(110px + 1.75rem);
      }

      @media all and (max-width: 600px) {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: calc(110px + 1rem);
      }

      &:deep(.course-tile-prices) {
        margin-bottom: 1.5rem;

        @media all and (max-width: 850px) {
          display: none;
        }
      }

      &:deep(.course-tile-prices__additional) {
        justify-content: center;
      }
    }
  }

  &__middle {
    flex-grow: 1;
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-grow: 0;

    @media all and (max-width: 850px) {
      display: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    &:deep(.button__label) {
      @media all and (max-width: 600px) {
        padding: 0.7rem 2rem;
      }
    }

    &:deep(.favorite-course--mobile .icon) {
      @media all and (max-width: 600px) {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }

  &__rating-and-logo {
    margin-bottom: 1rem;
    display: flex;

    &:deep(.course-tile-rating),
    &:deep(.course-tile-brand-logo) {
      padding: 0;
      box-shadow: none;
      position: static;
    }

    &:deep(.course-tile-brand-logo) {
      height: auto;
      flex-grow: 1;
    }
  }

  &__duration-and-lessons-amount-mobile {
    display: none;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @media all and (max-width: 850px) {
      display: block;
    }

    &:deep(.course-tile-duration--point) {
      @media all and (max-width: 850px) {
        background-image: none;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }

  &__learns,
  &__program {
    width: 50%;
  }

  &__learns {
    padding-right: 1rem;
  }

  &__program {
    padding-left: 1rem;
  }

  &__program-description {
    font-size: 0.875rem;
    line-height: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__tools {
    margin-bottom: 2rem;
  }
}