.course {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 16px 54px rgba(0, 0, 0, 0.08);

  @media all and (max-width: 768px) {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  @media all and (max-width: 600px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }

  &--type-tile {
    &.course {
      &--active {
        transform: scale(0.97);
      }
    }
  }

  &--type-row,
  &--type-box {
    &.course {
      width: 100%;

      &--active {
        transform: scale(0.99);
      }
    }
  }

  &--type-box {
    @media all and (max-width: 850px) {
      width: calc(100vw - 1.25rem * 2);
    }
  }
}