.course-row {
  width: 100%;
  height: 240px;

  @media all and (max-width: 850px) {
    height: 420px;
  }

  @media all and (max-width: 600px) {
    height: 340px;
  }

  &__content,
  &__side {
    height: 100%;
  }

  &__content,
  &__link {
    display: flex;
  }

  &__content {
    @media all and (max-width: 850px) {
      flex-wrap: wrap;
      height: auto;
    }
  }

  &__link {
    width: calc(100% - 259px);
    text-decoration: none;
    align-items: flex-start;

    @media all and (max-width: 850px) {
      flex-wrap: wrap;
      width: 100%;
    }
  }

  &__side {
    @media all and (max-width: 850px) {
      height: auto;
    }

    &--right,
    &--center {
      padding: 1.5rem;

      @media all and (max-width: 600px) {
        padding: 1rem 1rem;
      }
    }

    &--left {
      min-width: 240px;
      max-width: 240px;

      @media all and (max-width: 850px) {
        min-width: 110px;
        max-width: 110px;
      }

      &:deep(.course-row-image__element .course-tile-rating),
      &:deep(.course-row-image__element .course-tile-brand-logo){
        @media all and (max-width: 850px) {
          display: none;
        }
      }
    }

    &--center {
      display: flex;
      flex-direction: column;

      @media all and (max-width: 850px) {
        width: calc(100% - 110px);
      }
    }

    &--right {
      min-width: 275px;
      max-width: 275px;
      text-align: center;

      .course-row {
        &__promocode {
          @media all and (max-width: 850px) {
            display: none;
          }
        }
      }

      @media all and (max-width: 850px) {
        min-width: auto;
        max-width: none;
        width: 100%;
        padding-left: calc(110px + 1.75rem);
      }

      @media all and (max-width: 600px) {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: calc(110px + 1rem);
      }

      &:deep(.course-tile-prices) {
        margin-bottom: 0.5rem;

        @media all and (max-width: 850px) {
          display: none;
        }
      }

      &:deep(.course-tile-prices__additional) {
        justify-content: center;
      }
    }

    &--price-mobile {
      display: none;

      @media all and (max-width: 850px) {
        display: block;
        padding: 0 0 0 calc(110px + 1.75rem);
        width: 100%;

        .course-row {
          &__promocode {
            margin-top: 0.7rem;
          }
        }
      }

      @media all and (max-width: 600px) {
        padding: 0 0 0 calc(110px + 1rem);
        margin-bottom: 0.5rem;
      }

      &:deep(.course-tile-prices__additional) {
        @media all and (max-width: 850px) {
          justify-content: flex-start;
        }
      }
    }
  }

  &__middle {
    flex-grow: 1;
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-grow: 0;

    @media all and (max-width: 850px) {
      display: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    &:deep(.button__label) {
      @media all and (max-width: 600px) {
        padding: 0.7rem 2rem;
      }
    }

    &:deep(.favorite-course--mobile .icon) {
      @media all and (max-width: 600px) {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }

  &__rating-and-logo-mobile {
    display: none;
    margin-bottom: 1rem;

    @media all and (max-width: 850px) {
      display: flex;
    }

    &:deep(.course-tile-rating),
    &:deep(.course-tile-brand-logo) {
      padding: 0;
      box-shadow: none;

      @media all and (max-width: 850px) {
        position: static;
      }
    }

    &:deep(.course-tile-brand-logo) {
      height: auto;
      flex-grow: 1;
    }
  }

  &__duration-and-lessons-amount-mobile {
    display: none;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @media all and (max-width: 850px) {
      display: block;
    }

    &:deep(.course-tile-duration--point) {
      @media all and (max-width: 850px) {
        background-image: none;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }

  &__promocode {
    margin-bottom: 1rem;
  }
}