@import "@/assets/scss/vars/modifiers/colors";

.header-teacher {
  &__bck {
    background-color: $blue1;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media all and (max-width: 576px) {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  &__items {
    display: flex;

    @media all and (max-width: 1150px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    &--media {
      padding-right: 2.5rem;

      @media all and (max-width: 750px) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
      }
    }

    &--bio {
      width: calc(100% - 270px - 2.5rem);

      @media all and (max-width: 1000px) {
        width: calc(100% - 200px - 2.5rem);
      }

      @media all and (max-width: 750px) {
        width: 100%;
      }
    }

    &--experiences {
      min-width: 300px;
      padding-left: 2.5rem;

      @media all and (max-width: 1150px) {
        min-width: auto;
        padding-left: 0;
        width: 100%;
        margin-top: 2.5rem;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;

    @media all and (max-width: 500px) {
      flex-wrap: wrap;
    }
  }

  &__params {
    margin-bottom: -0.75rem;
  }
}