@import "@/assets/scss/vars/modifiers/colors";

.header-teacher {
  &__bck {
    background-color: $blue1;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media all and (max-width: 576px) {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  &__items {
    display: flex;

    @media all and (max-width: 1150px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    &--media {
      padding-right: 2.5rem;

      @media all and (max-width: 750px) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
      }
    }

    &--bio {
      width: calc(100% - 270px - 2.5rem);

      @media all and (max-width: 1000px) {
        width: calc(100% - 200px - 2.5rem);
      }

      @media all and (max-width: 750px) {
        width: 100%;
      }
    }

    &--experience {
      min-width: 300px;
      padding-left: 2.5rem;

      @media all and (max-width: 1150px) {
        min-width: auto;
        padding-left: 0;
        width: 100%;
        margin-top: 2.5rem;
      }
    }
  }

  &__image-wrapper {
    line-height: 0;
    margin-bottom: 1rem;
  }

  &__image {
    width: 270px;
    height: 100%;
    border-radius: 0.625rem;

    @media all and (max-width: 1000px) {
      width: 200px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social {
    display: block;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
    line-height: 0;
    margin-right: 0.8rem;

    &--linkedIn {
      background-image: url("@/assets/images/sm/linkedIn.svg");
    }

    &--facebook {
      background-image: url("@/assets/images/sm/facebook.svg");
    }

    &--vk {
      background-image: url("@/assets/images/sm/vk.svg");
    }

    &--ok {
      /*background-image: url("@/assets/images/sm/ok.svg");*/
    }

    &--telegram {
      background-image: url("@/assets/images/sm/telegram.svg");
    }

    &--whatsApp {
      background-image: url("@/assets/images/sm/whatsApp.svg");
    }

    &--behance {
      background-image: url("@/assets/images/sm/behance.svg");
    }

    &--dribble {
      background-image: url("@/assets/images/sm/dribble.svg");
    }

    &--instagram {
      background-image: url("@/assets/images/sm/instagram.svg");
    }

    &--twitter {
      background-image: url("@/assets/images/sm/twitter.svg");
    }

    &--discord {
      background-image: url("@/assets/images/sm/discord.svg");
    }

    &--youTube {
      background-image: url("@/assets/images/sm/youTube.svg");
    }

    &--twitch {
      background-image: url("@/assets/images/sm/twitch.svg");
    }

    &--tikTok {
      background-image: url("@/assets/images/sm/tikTok.svg");
    }

    &--site {
      /*background-image: url("@/assets/images/sm/site.svg");*/
    }

    &--vc {
      /*background-image: url("@/assets/images/sm/vc.svg");*/
    }

    &--yandex_q {
      background-image: url("@/assets/images/sm/yandex_q.svg");
    }

    &--github {
      background-image: url("@/assets/images/sm/github.svg");
    }

    &--gitlab {
      background-image: url("@/assets/images/sm/gitlab.svg");
    }

    &--skype {
      background-image: url("@/assets/images/sm/skype.svg");
    }

    &--youdo {
      /*background-image: url("@/assets/images/sm/youdo.svg");*/
    }

    &--pinterest {
      background-image: url("@/assets/images/sm/pinterest.svg");
    }

    &--yandex_dzen {
      /*background-image: url("@/assets/images/sm/yandexDzen.svg");*/
    }

    &--habr_career {
      /*background-image: url("@/assets/images/sm/habrCareer.svg");*/
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;

    @media all and (max-width: 500px) {
      flex-wrap: wrap;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 2.15rem;
    margin: 0;
    padding: 0;
    flex-grow: 1;

    @media all and (max-width: 500px) {
      width: 100%;
    }
  }

  &__rating {
    flex-grow: 0;
  }

  &__city {
    color: $grey4;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 0.5rem;
  }

  &__info {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 2rem;

    .reducer {
      &__content {
        &--hide {
          &::after {
            background: linear-gradient(0deg, rgba(239, 246, 251, 1) 0%, rgba(239, 246, 251, 0) 50%);
          }
        }
      }

      &__action {
        font-size: 1rem;
        line-height: 1.4rem;
      }
    }
  }

  &__params {
    margin-bottom: -0.75rem;
  }

  &__directions,
  &__schools {
    display: flex;
    margin-bottom: 0.75rem;
    align-items: center;
  }

  &__direction-label,
  &__school-label {
    margin-right: 2rem;
  }

  &__direction-item,
  &__school-item {
    color: $blue2;
    margin-right: 1.5rem;

    &:hover {
      text-decoration: none;
    }
  }

  &__experience-label {
    font-weight: 700;
    margin-bottom: 1.5rem;

    @media all and (max-width: 1150px) {
      margin-bottom: 1rem;
    }
  }

  &__experiences {
    @media all and (max-width: 1150px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__experience {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1.25rem;

    @media all and (max-width: 1150px) {
      margin-right: 3rem;
    }
  }

  &__experience-place {
    font-weight: 700;
    margin-bottom: 0.1rem;
  }

  &__experience-position {
    font-weight: 400;
    margin-bottom: 0.15rem;
    font-size: 0.9rem;
  }

  &__experience-period{
    font-weight: 400;
    color: $grey3;
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
}