.tools {
  display: flex;
  align-items: center;

  &__side {
    display: flex;
    align-items: center;

    &--left {
      flex-grow: 1;
    }

    &--right {
      flex-grow: 0;
      justify-content: flex-end;
    }
  }

  &__field {
    &--sort {
      flex-grow: 1;

      :deep(.form-item) {
        width: 240px;

        @media all and (max-width: 550px) {
          width: 190px;
        }
      }
    }

    &--type {
      flex-grow: 0;
    }

    &--filters-mobile {
      margin-left: 0.5rem;
      display: none;

      @media all and (max-width: 1050px) {
        display: block;
      }
    }

    .form-item {
      margin-bottom: 0;
    }
  }
}