@import "/assets/scss/vars/modifiers/colors";

.back {
  display: flex;
  align-items: center;
  margin-bottom: 3.125rem;
  color: $blue2;
  text-decoration: none;

  &__icon {
    line-height: 0;
  }

  &__text {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}