.collection-image {
  &__desktop,
  &__mobile {
    border-radius: 1rem;
  }

  &__desktop {
    width: 200px;
    height: 200px;

    @media all and (max-width: 1200px) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    width: 100%;
    max-width: 600px;
    height: auto;

    @media all and (max-width: 1200px) {
      display: block;
    }
  }
}