.promo-body {
  &__content {
    max-width: 1000px;
  }

  &__schools {
    &:deep(.school) {
      margin-bottom: 3.125rem;
    }
  }

  &__track {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 320px;

    @media all and (max-width: 1450px) {
      display: none;
    }

    &--scroll {
      top: 0;
      bottom: auto;
    }
  }

  &__stats {
    &--scroll {
      bottom: auto;
      position: fixed;
    }
  }
}