@import "@/assets/scss/vars/modifiers/colors";

.stats {
  box-shadow: 0 1rem 3.375rem 0 #00000014;
  background-color: $white;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 320px;

  &--scroll {
    top: 0;
    bottom: auto;

    @media all and (max-width: 1200px) {
      display: none;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    margin-bottom: 1.25rem;
  }

  &__item {
    margin-bottom: 0.625rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}