@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";

.dropdown {
  background-color: $white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  z-index: 3;

  &--simple {
    width: auto;

    .dropdown {
      &__option {
        padding: 0.5rem;
      }
    }
  }

  &__label {
    flex-grow: 1;
    white-space: nowrap;
    padding-right: 1rem;
  }

  &__check {
    flex-grow: 0;
    transition: none;
    line-height: 0;
    width: 16px;
  }

  &__list {
    border: 1px solid #DFE0E6;
    border-top: none;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &__option {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    transition: all $speedPrimary $functionPrimary;

    &:hover,
    &--selected {
      background-color: $blue1;
    }

    &:last-child {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
