@import "@/assets/scss/vars/modifiers/colors";

.dropdown {
  background-color: $white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  z-index: 3;

  &--border {

  }

  &--dropped,
  &--hover {
    box-shadow: 0 0 6px rgb(54 78 101 / 16%);

    &.dropdown {
      &--simple {
        box-shadow: none;
      }
    }
  }

  &--simple {
    width: auto;

    .dropdown {
      &__weld {
        display: none;
      }

      &__option {
        padding: 0.5rem;
      }
    }
  }

  &__weld {
    position: absolute;
    z-index: 3;
    background-color: $white;
    width: 100%;
    height: 5px;
    top: -5px;
  }

  &__label {
    flex-grow: 1;
    white-space: nowrap;
    padding-right: 1rem;
  }

  &__check {
    flex-grow: 0;
    transition: none;
    line-height: 0;
    width: 16px;
  }

  &__option {

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.001rem;
    padding: 0.688rem 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;

    &:hover {

    }
  }
}
