@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";

.input {
  display: flex;
  background-color: $white;
  border-radius: 10px;
  align-items: center;
  border: 1px solid $grey2;
  transition: all $speedPrimary $functionPrimary;
  width: 100%;

  &__before:empty,
  &__after:empty {
    display: none;
  }

  &__before {
    padding-left: 1.5rem;
    line-height: 0;
  }

  &__after {
    padding-right: 1.5rem;
    line-height: 0;
  }

  &__place {
    padding: 1rem;
    flex-grow: 1;
  }

  &__element {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;

    &::placeholder {
      opacity: 0.52;
    }
  }
}
