@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &--disabled {
    opacity: 0.3;
    cursor: default !important;
  }

  &__box {
    background-color: $white;
    outline: 1px solid $grey2;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-right: 0.5rem;
    margin-left: 1px;
  }

  &__checked {
    width: 10px;
    height: 10px;
    line-height: 0;
    background-color: $blue2;
    border-radius: 100%;
    margin: auto;
    margin-top: 3px;
  }

  &__label {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }

  &__element {
    display: none;
  }
}