@import "@/assets/scss/vars/modifiers/colors";

.range-slider {
  &__values {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    margin-bottom: 1rem;
  }

  &__slider {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  .slider-base {
    --slider-bg: #DFE0E5;
  }

  .slider-connect {
    --slider-connect-bg: #3E3CFD;
  }

  .slider-handle {
    box-shadow: none;
    --slider-handle-border: 4px solid #3E3CFD;
  }

  [disabled] {
    opacity: 0.3;

    .slider-handle {
      border: 4px solid #DFE0E5;

      &:focus {
        box-shadow: none !important;
      }
    }

    .slider-connect {
      --slider-connect-bg-disabled: 4px solid #DFE0E5;
    }
  }

  .slider-horizontal .slider-handle {
    --slider-handle-width: 24px;
    --slider-handle-height: 24px;
  }

  .slider-tooltip {
    --slider-tooltip-bg: #3E3CFD;
  }
}