.collection-list {
  &:deep(.loader__content) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    @media all and (max-width: 900px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:deep(.collection) {
    width: calc(33% - 1.25rem * 2);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 2.5rem;

    @media all and (max-width: 1350px) {
      width: calc(50% - 1.25rem * 2);
    }

    @media all and (max-width: 900px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    @media all and (max-width: 576px) {
      margin-bottom: 1.25rem;
    }
  }
}