.promo-pop-up {
  &__logo {
    margin-bottom: 1.5rem;
  }

  &__title {
    margin-bottom: 0.75rem;
  }

  &__period {
    margin-bottom: 1.5rem;
  }

  &__code {
    margin-bottom: 1.25rem;
  }

  &__action {
    margin-bottom: 1.25rem;
  }

  &__disclaimer {
    max-width: 350px;
    margin: 0 auto;
  }
}