@import "/assets/scss/vars/modifiers/colors";

.school {
  background-color: $white;
  padding: 1.5rem;
  border-radius: 1rem;
  display: block;
  text-decoration: none;

  @media all and (max-width: 576px) {
    background-color: transparent;
    border: 1px solid $grey2;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.4375rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: $black;
  }
}