.header {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 1.875rem;
  max-width: 900px;

  @media all and (max-width: 576px) {
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}