@import "/assets/scss/vars/modifiers/colors";

.promocode-pop-up-title {
  text-align: center;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  font-weight: 800;
  margin-bottom: 0.75rem;

  SPAN {
    color: $blue2;
  }
}