.animal {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 80px;
  height: 80px;
  border-radius: 1rem;

  &--1 {
    background-image: url("~/assets/images/animals/1.svg");
  }

  &--2 {
    background-image: url("~/assets/images/animals/2.svg");
  }

  &--3 {
    background-image: url("~/assets/images/animals/3.svg");
  }

  &--4 {
    background-image: url("~/assets/images/animals/4.svg");
  }

  &--5 {
    background-image: url("~/assets/images/animals/5.svg");
  }

  &--6 {
    background-image: url("~/assets/images/animals/6.svg");
  }

  &--7 {
    background-image: url("~/assets/images/animals/7.svg");
  }

  &--8 {
    background-image: url("~/assets/images/animals/8.svg");
  }

  &--9 {
    background-image: url("~/assets/images/animals/9.svg");
  }

  &--10 {
    background-image: url("~/assets/images/animals/10.svg");
  }

  &--11 {
    background-image: url("~/assets/images/animals/11.svg");
  }

  &--12 {
    background-image: url("~/assets/images/animals/12.svg");
  }

  &--1 {
    background-image: url("~/assets/images/animals/1.svg");
  }
}