@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";

.button {
  display: inline-flex;
  border-radius: 0.5rem;
  transition: all $speedPrimary $functionPrimary;

  &__box {
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
  }

  &__loader {
    display: inline-block;
  }

  &:active:not(.button--disabled):not(.button--loading) {
    transform: scale(0.97);
  }

  &--primary {
    background-color: $blue2;
    text-align: center;

    &:hover:not(.button--disabled):not(.button--loading) {
      background-color: $blue3;
    }

    .button {
      &__label {
        padding: 1rem 2.5rem;
        font-size: 1.125rem;
        line-height: 1.563rem;
        font-weight: 700;
        color: $white;

        @media all and (max-width: 576px) {
          font-size: 1rem;
          line-height: 1.375rem;
        }
      }

      &--icon {
        padding-left: 1.75rem;
        padding-right: 1.75rem;

        .button {
          &__label {
            padding: 1rem 1.75rem 1rem 3.2rem;
          }
        }
      }
    }
  }

  &--secondary {
    &:hover {

    }
  }

  &--tertiary {

  }

  &--loading {
    .button {
      &__label,
      &__icon {
        visibility: hidden;
      }
    }
  }

  &--disabled {
    cursor: default;
  }

  &--wide {
    width: 100%;
  }

  &__label {
    text-align: center;
    width: 100%;
  }

  &--icon {
    line-height: 0;

    .button {
      &__label {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1rem 1.75rem 1rem 3.2rem;
      }
    }
  }

  &__icon {
    padding-left: 1.75rem;
    padding-right: 1.75rem;

    &:empty {
      display: none;
    }
  }

  .loader {
    &__scrim {
      border-radius: 0.5rem;
    }
  }
}
