@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";

.button {
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all $speedPrimary $functionPrimary;
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  &:active:not(.button--disabled) {
    transform: scale(0.97);
  }

  &--primary {
    color: $white;
    background-color: $blue2;
    text-align: center;

    &:hover {
      background-color: $blue3;
    }

    .button {
      &__label {
        padding: 1rem 2.5rem;
        font-size: 1.125rem;
        line-height: 1.563rem;
        font-weight: 700;

        @media all and (max-width: 576px) {
          font-size: 1rem;
          line-height: 1.375rem;
        }
      }

      &--icon {
        padding-left: 1.75rem;
        padding-right: 1.75rem;

        .button {
          &__label {
            padding: 1rem 1.75rem 1rem 3.2rem;
          }
        }
      }
    }
  }

  &--secondary {
    &:hover {

    }
  }

  &--tertiary {

  }

  &--disabled {
    cursor: default;
  }

  &--wide {
    width: 100%;
  }

  &__label {
    text-align: center;
  }

  &--icon {
    line-height: 0;

    .button {
      &__label {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1rem 1.75rem 1rem 3.2rem;
      }
    }
  }

  &__icon {
    padding-left: 1.75rem;
    padding-right: 1.75rem;

    &:empty {
      display: none;
    }
  }
}
