@import "@/assets/scss/vars/modifiers/colors";

.icon {
  mask-size: 100% auto;
  mask-position: center;
  mask-repeat: no-repeat;
  display: inline-block;
  line-height: 0;

  &--name {
    &-close {
      mask-image: url("~/assets/images/icons/close.svg");
    }

    &-heart {
      mask-image: url("~/assets/images/icons/heart.svg");
    }

    &-heart-full {
      mask-image: url("~/assets/images/icons/heart-full.svg");
    }

    &-loop {
      mask-image: url("~/assets/images/icons/loop.svg");
    }

    &-link-to {
      mask-image: url("~/assets/images/icons/link-to.svg");
    }

    &-arrow-up {
      mask-image: url("~/assets/images/icons/arrow.svg");
    }

    &-arrow-down {
      mask-image: url("~/assets/images/icons/arrow.svg");
      transform: rotate(180deg);
    }

    &-rhombus {
      mask-image: url("~/assets/images/icons/rhombus.svg");
    }

    &-star {
      mask-image: url("~/assets/images/icons/star.svg");
    }

    &-burger {
      mask-image: url("~/assets/images/icons/burger.svg");
    }

    &-arrow-thin-right {
      mask-image: url("~/assets/images/icons/arrow-thin.svg");
    }

    &-arrow-long-left {
      mask-image: url("~/assets/images/icons/arrow-long.svg");
    }

    &-user {
      mask-image: url("~/assets/images/icons/user.svg");
    }

    &-angle-up {
      mask-image: url("~/assets/images/icons/angle.svg");
      transform: rotate(180deg);
    }

    &-angle-down {
      mask-image: url("~/assets/images/icons/angle.svg");
    }

    &-tile {
      mask-image: url("~/assets/images/icons/tile.svg");
    }

    &-row {
      mask-image: url("~/assets/images/icons/row.svg");
    }

    &-box {
      mask-image: url("~/assets/images/icons/box.svg");
    }

    &-checked {
      mask-image: url("~/assets/images/icons/checked.svg");
    }

    &-configs {
      mask-image: url("~/assets/images/icons/configs.svg");
    }

    &-video {
      mask-image: url("~/assets/images/icons/video.svg");
    }

    &-certificate {
      mask-image: url("~/assets/images/icons/certificate.svg");
    }
  }

  &--color {
    &-primary {
      background-color: $primary;
    }

    &-black {
      background-color: $black;
    }

    &-white {
      background-color: $white;
    }

    &-blue1 {
      background-color: $blue1;
    }

    &-blue2 {
      background-color: $blue2;
    }

    &-grey1 {
      background-color: $grey1;
    }

    &-grey2 {
      background-color: $grey3;
    }

    &-grey3 {
      background-color: $grey4;
    }
  }

  &--color-hover {
    &-primary {
      &:hover {
        background-color: $primary;
      }
    }
  }
}
