@import "@/assets/scss/vars/modifiers/colors";

.icon {
  mask-size: auto 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  display: inline-block;
  line-height: 0;

  &--name {
    &-close {
      mask-image: url("~/assets/images/icons/close.svg");
    }

    &-heart {
      mask-image: url("~/assets/images/icons/heart.svg");
    }

    &-loop {
      mask-image: url("~/assets/images/icons/loop.svg");
    }

    &-link-to {
      mask-image: url("~/assets/images/icons/link-to.svg");
    }
  }

  &--color {
    &-primary {
      background-color: $primary;
    }

    &-blue1 {
      background-color: $blue1;
    }

    &-blue2 {
      background-color: $blue2;
    }

    &-grey1 {
      background-color: $grey1;
    }

    &-grey2 {
      background-color: $grey2;
    }

    &-grey3 {
      background-color: $grey3;
    }
  }

  &--color-hover {
    &-primary {
      &:hover {
        background-color: $primary;
      }
    }
  }
}
