.logo {
  width: 127px;
  height: 23px;
  line-height: 0;
  display: block;
  background-image: none;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
