.logo {
  line-height: 0;
  display: inline-block;
  background-image: url("~/assets/images/logo.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 147px;
  height: 27px;

  @media all and (max-width: 420px) {
    width: 120px;
    height: 18.5px;
  }

  &--light {
    background-image: url("~/assets/images/logo-light.svg");
    width: 200px;
    height: 31px;
  }
}
