@import "@/assets/scss/vars/modifiers/colors";

.pagination {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  flex-wrap: wrap;

  &__item {
    padding: 1rem;
    border: 2px solid $blue2;
    color: $blue2;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}