@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/animations/fade";

.popover {
  &__desktop {
    display: block;

    @media all and (max-width: 1250px) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @media all and (max-width: 1250px) {
      display: block;
    }
  }

  &__content {
    z-index: 105;
    width: 520px;
  }

  &__wrapper {
    padding-bottom: 13px;
  }

  &__box {
    background-color: $black;
    border-radius: 1rem;
    padding: 1.5rem 2.5rem;
    position: relative;

    @media all and (max-width: 1250px) {
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media all and (max-width: 768px) {
      padding: 1.875rem 1rem;
    }
  }

  &__arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    background: $black;
    z-index: -1;
    pointer-events: none;
    transform: rotate(45deg);
    bottom: 7px;
  }

  &__sticker {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 105;
    width: 100%;
  }

  &__dim {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: fixed;
    display: none;

    @media all and (max-width: 1250px) {
      display: block;
    }
  }

  &__close {
    width: 35px;
    height: 35px;
    background-color: #282E52;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    cursor: pointer;
    display: flex;

    &:active {
      transform: scale(0.92);
    }
  }

  &__close-icon {
    mask-image: url("@/assets/images/icons/close.svg");
    mask-position: center center;
    mask-repeat: no-repeat;
    width: 11px;
    height: 11px;
    background-color: $grey3;
  }

  &__action {
    text-align: left;
    display: inline-block;
  }
}