@import "@/assets/scss/vars/modifiers/colors";

.pop-up {
  &__dim {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: fixed;
  }

  &__window {
    width: 520px;
    height: 620px;
    position: fixed;
    z-index: 105;
    background-color: $white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 1.5rem;
  }

  &__box {
    position: relative;
  }

  &__close {
    width: 45px;
    height: 45px;
    background-color: $blue1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:active {
      transform: scale(0.97);
    }
  }

  &__close-icon {
    mask-image: url("@/assets/images/icons/close.svg");
    mask-position: center center;
    mask-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-color: $grey3;
  }

  &__content {
    padding-top: 45px;
  }
}