@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";

.tag {
  color: $blue2;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  transition: all $speedPrimary $functionPrimary;
  text-decoration: none;
  display: flex;
  align-items: center;

  @media all and (max-width: 576px) {
    padding: 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;
  }

  &--cursor {
    cursor: pointer;
  }

  &--color {
    &-white {
      color: $white;
    }

    &-blue1 {
      color: $blue1;
    }

    &-blue2 {
      color: $blue2;
    }

    &-black {
      color: $black;
    }
  }

  &--border {
    &-grey2 {
      border: 1px solid $grey2;
    }

    &-blue2 {
      border: 1px solid $blue2;
    }

    &-hover {
      &-blue2 {
        &:hover {
          border: 1px solid $blue2;
        }
      }
    }
  }

  &--bck {
    &-blue1 {
      background-color: $blue1;
    }

    &-white {
      background-color: $white;
    }

    &-black {
      background-color: $black;
    }

    &-hover {
      &-blue1 {
        &:hover {
          background-color: $blue1;
        }
      }
    }
  }

  &--shadow {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04);
  }

  &__label {
    flex-grow: 1;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    text-decoration: none;
  }

  &__before,
  &__after {
    flex-grow: 0;
    line-height: 0;
  }

  &__before {
    padding-right: 0.5rem;
  }

  &__after {
    padding-left: 0.5rem;
  }
}