@import "/assets/scss/vars/modifiers/colors";

.link-all-promocodes {
  border: 1px solid $blue2;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  width: 320px;
  height: 230px;
  margin: 0 1.2rem 2.4rem 1.2rem;
  text-align: center;

  @media all and (max-width: 1300px) {
    width: calc(33.33% - 1.2rem * 2);
  }

  @media all and (max-width: 1000px) {
    width: calc(50% - 1.2rem * 2);
  }

  @media all and (max-width: 600px) {
    padding: 1.5rem 0.8rem;
    height: auto;
    width: 100%;
    margin: 0 0.5rem 1rem 0.5rem;
  }

  &__label {
    font-size: 1.25rem;
    line-height: 1.705rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }
}