@import "@/assets/scss/animations/fadeFast";

.favorite-course {
  cursor: pointer;
  display: inline-block;

  &:active {
    transform: scale(0.9);
  }

  &--mobile {
    @media all and (max-width: 600px) {
      .icon {
        width: 15px !important;
        height: 14px !important;
      }
    }
  }
}