.image {
  line-height: 0;
  margin-bottom: 1.5rem;

  @media all and (max-width: 500px) {
    margin-bottom: 0.75rem;
  }

  &__element {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 0.625rem;
    line-height: 1rem;
  }
}