@import "@/assets/scss/vars/modifiers/colors";

.carousel {
  &__pagination-button {
    &:after {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $white;
    }

    &:hover,
    &--active {
      &:after {
        background-color: $blue3;
      }
    }
  }

  &__slide {
    justify-content: start;
    align-items: start;
  }
}
