.catalog-tools {
  display: flex;
  align-items: center;

  &__side {
    display: flex;
    align-items: center;

    &--left {
      flex-grow: 1;
    }

    &--right {
      flex-grow: 0;
      justify-content: flex-end;
    }
  }

  &__field {
    &--sort {
      width: 240px;
    }

    &--filters-mobile {
      margin-left: 0.5rem;
    }

    .form-item {
      margin-bottom: 0;
    }
  }
}