@import "@/assets/scss/vars/modifiers/colors";

.catalog-filter-select {
  &--all {
    .catalog-filter-select {
      &__items {
        height: calc(177px * 2);
        overflow-y: auto;
      }
    }
  }

  &__search {
    margin-bottom: 1rem;

    .input {
      &__place {
        padding: 0.625rem 1rem;
      }

      &__element {
        font-size: 0.875rem;
        line-height: 1.3125rem;
      }

      &__before {
        padding-left: 1rem;
      }
    }
  }

  &__items {
    height: 177px;
    overflow: hidden;
    margin-bottom: 1rem;

    &::-webkit-scrollbar
    {
      width: 8px;
    }

    &::-webkit-scrollbar-track
    {
      background-color: $grey1;
      border-radius: 9px;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 9px;
    }
  }

  &__more {
    display: inline-flex;
    cursor: pointer;
    color: $blue2;
    align-items: center;

    font-size: 0.875rem;
    line-height: 1.3125rem;

    .icon {
      margin-left: 0.5rem;
    }
  }
}