.catalog-tools {
  display: flex;
  align-items: center;

  &__side {
    display: flex;
    align-items: center;
    width: 50%;

    &--left {

    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__field {
    &--sort {
      width: 240px;
    }

    .form-item {
      margin-bottom: 0;
    }
  }
}