@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/animations/slideRight";

.catalog-filters-mobile {
  &__icon {
    line-height: 0;
    padding: 1.06rem;
    cursor: pointer;
    border: 1px solid $grey2;
    border-radius: 10px;

    &--active {
      background-color: $blue2;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    line-height: 0;
    cursor: pointer;
  }

  &__content {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: block;
    left: 0;
    top: 0;
    background-color: $white;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__elements {
    position: relative;
    padding-bottom: 5rem;
  }

  &__action {
    position: fixed;
    bottom: 1rem;
    z-index: 10;

    left: 50%;
    transform: translate(-50%);

    .button {
      &__label {
        white-space: nowrap;
      }
    }
  }

  &__header {
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
  }

  &__filters {
    .catalog-filters {
      &__block {
        &--directions {
          display: block;
        }
      }

      &__panel {
        box-shadow: none;
      }
    }
  }
}