@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";

.catalog-header {
  &--image {
    @media all and (max-width: 1000px) {
      .catalog-header {
        &__side {
          &--left {
            order: 2;
            margin-bottom: 0;
          }

          &--right {
            order: 1;
            margin-bottom: 2.125rem;
          }
        }
      }
    }
  }

  &__description {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;

    @media all and (max-width: 1000px) {
      margin-bottom: 2.125rem;
    }

    .reducer {
      &__content {
        &--hide {
          &::after {
            background: linear-gradient(0deg, rgba(239, 246, 251, 1) 0%, rgba(239, 246, 251, 0) 50%);
          }
        }
      }

      &__action {
        font-size: 1rem;
        line-height: 1.4rem;
      }
    }
  }

  &__sides {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }

  &__side {
    width: 50%;

    @media all and (max-width: 1000px) {
      width: 100%;
    }

    &--left {
      padding-right: 3rem;

      @media all and (max-width: 1000px) {
        padding-right: 0;
      }
    }

    &--right {
      padding-left: 3rem;

      @media all and (max-width: 1000px) {
        padding-left: 0;
      }
    }
  }

  &__title {
    display: flex;
    margin-bottom: 2.125rem;

    @media all and (max-width: 576px) {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .title {
      margin-bottom: 0;
    }
  }

  &__popularity {
    display: flex;
    flex-direction: column;
    padding-left: 2.625rem;
    flex-grow: 0;
    border-left: 1px solid #DFE0E6;

    @media all and (max-width: 576px) {
      border-left: none;
      padding-left: 0;
      flex-direction: row;
      align-items: center;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating_amount {
    white-space: nowrap;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    display: flex;
    align-items: center;

    @media all and (max-width: 576px) {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  &__star {
    line-height: 0;
    margin-left: 0.5rem;

    @media all and (max-width: 576px) {
      margin-right: 1rem;

      .icon {
        width: 18px !important;
        height: 18px !important;
      }
    }
  }

  &__reviews {
    white-space: nowrap;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    A {
      color: $blue2;
      text-decoration: none;
      transition: all $speedPrimary $functionPrimary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__section {
    display: flex;
    align-items: center;
    margin-bottom: 1.6875rem;

    &:empty {
      display: none;
    }
  }

  &__fire {
    background-image: url("@/assets/images/fire.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    line-height: 0;
    margin-right: 0.5rem;
  }

  &__label {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }

  &__tags {
    &:empty {
      display: none;
    }
  }

  &__image {
    line-height: 0;

    IMG {
      width: 100%;
      max-width: 680px;
      height: auto;
      border-radius: 1rem;

      filter: drop-shadow(0px 16px 54px rgba(0, 0, 0, 0.08));
    }
  }

  &__teachers {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  &__teacher_icon {
    margin-right: 0.75rem;
  }

  &__teacher_icon {
    line-height: 0;
  }

  &__teacher_label {
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  &__teacher_amount {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  &__action {
    margin-top: 2rem;
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__empty {
    display: none;
  }

  &__desktop {
    display: block;

    @media all and (max-width: 576px) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @media all and (max-width: 576px) {
      display: block;
    }
  }
}