@import "@/assets/scss/vars/modifiers/colors";

.course-view-follow {
  width: 100%;
  display: none;
  flex-grow: 1;
  padding-top: 5rem;

  @media all and (max-width: 1200px) {
    display: block;
  }

  &__box {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    z-index: 5;
    background-color: #000628;
    color: $white;
  }

  &__side {
    &--left {
      flex-grow: 1;
      padding-right: 1rem;
    }

    &--right {
      display: flex;
      align-items: center;
    }
  }

  &__action {
    &--button {
      flex-grow: 1;
    }

    &--favorite {
      line-height: 0;
      padding-left: 1rem;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__price {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  &__price_additional {
    display: flex;
    align-items: center;
  }

  &__price_current,
  &__price_old {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  &__price_current {
    margin-right: 0.5rem;
  }

  &__price_old {
    text-decoration: line-through;
  }
}