@import "@/assets/scss/vars/modifiers/colors";

.course-view-program {
  border: 1px solid $grey2;
  padding: 2.5rem;
  border-radius: 1.5rem;
  position: relative;

  @media all and (max-width: 768px) {
    border-width: 0;
    padding: 0;
  }

  &::after {
    content: "";
    background-image: url("@/assets/images/angle.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 64px;
    height: 64px;
    position: absolute;
    top: -1px;
    right: -1px;

    @media all and (max-width: 768px) {
      display: none;
    }
  }

  &__top {
    display: flex;
    border-bottom: 1px solid $grey2;
    padding-bottom: 2.5rem;

    @media all and (max-width: 768px) {
      flex-wrap: wrap;
      padding-bottom: 2rem;
    }
  }

  &__description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $grey4;
    width: calc(100% - 160px * 2);
    padding-right: 3rem;

    @media all and (max-width: 768px) {
      width: 100%;
      padding-right: 0;
      padding-bottom: 1.5rem;
    }
  }

  &__modules,
  &__lessons {
    text-align: center;
    width: 160px;

    @media all and (max-width: 576px) {
      width: auto;
      margin-right: 2rem;
    }
  }

  &__amount {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 3.5rem;

    @media all and (max-width: 576px) {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }

  &__unit {
    font-size: 1.25rem;
    line-height: 1.875rem;

    @media all and (max-width: 576px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}