@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";

.direction {
  width: 246px;
  height: 246px;
  border-radius: 1rem;
  background-color: $blue1;
  margin-left: 0.75rem;
  margin-right: 0.75em;
  margin-bottom: 1.5rem;
  text-decoration: none;
  position: relative;
  transition: all $speedPrimary $functionPrimary;

  @media all and (max-width: 576px) {
    width: 153px;
    height: 153px;
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    margin-bottom: 1.3rem;
  }

  &:hover {
    background-color: $white;
    box-shadow: 0 16px 54px rgba(0, 0, 0, 0.12);
  }

  &__info {
    padding: 1.5rem;

    @media all and (max-width: 576px) {
      padding: 0.75rem;
    }
  }

  &__label {
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: $black;
    margin-bottom: 0.375rem;

    @media all and (max-width: 576px) {
      font-size: 0.813rem;
      line-height: 1.125rem;
      color: $black;
    }
  }

  &__amount {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: $black;
    opacity: 0.6;

    @media all and (max-width: 576px) {
      font-size: 0.75rem;
      line-height: 1rem;
      color: $black;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
