@import "@/assets/scss/vars/modifiers/colors";

.catalog {
  &__content {
    display: flex;
  }

  &__filter {
    width: 320px;
    min-width: 320px;
    padding-right: 2.5rem;
    box-sizing: content-box;

    @media all and (max-width: 1050px) {
      display: none;
    }
  }

  &__tools,
  &__tags {
    margin-bottom: 2rem;
  }

  &__pagination {
    margin-top: 2rem;
    display: none;
  }
}