@import "@/assets/scss/vars/modifiers/colors";

.catalog {
  &__content {
    display: flex;
  }

  &__items {
    order: 2;
    width: calc(100% - 350px - 2.5rem);

    @media all and (max-width: 1050px) {
      width: 100%;
    }
  }

  &__filter {
    order: 1;
    width: 320px;
    min-width: 320px;
    padding-right: 2.5rem;
    box-sizing: content-box;

    @media all and (max-width: 1050px) {
      display: none;
    }

    .catalog-filters {
      &__block {
        &--directions {
          display: none;
        }
      }

      &__tags {
        display: none;
      }
    }
  }

  &__tools,
  &__tags {
    margin-bottom: 2rem;
  }

  &__tags {
    @media all and (max-width: 1050px) {
      display: none;
    }
  }

  &__pagination {
    margin-top: 2rem;
    display: none;
  }
}