.course-view {
  &__content {
    position: relative;

    @media all and (max-width: 1200px) {
      padding-right: 0;
    }
  }

  &__info {
    padding-right: 420px;
    padding-top: 7.5rem;

    @media all and (max-width: 1200px) {
      padding-right: 0;
    }

    @media all and (max-width: 576px) {
      padding-top: 3.5rem;
    }
  }
}