@import "@/assets/scss/vars/modifiers/colors";

.school-reviews {
  &__directions {
    margin-bottom: 3.5rem;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid $grey2;
    padding-bottom: 0.5rem;

    .school-reviews {
      &__th {
        font-weight: 700;
        font-size: 0.875rem;
      }
    }
  }

  &__td,
  &__th {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &--school {
      width: 20%;
    }

    &--description {
      width: 30%;
    }

    &--courses {
      width: 30%;
    }

    &--rating {
      width: 20%;
    }
  }

  &__th {
    display: flex;
    align-items: center;
  }

  &__sortable {
    cursor: pointer;
    margin-right: 0.25rem;
  }

  &__item {
    display: flex;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $grey2;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  &__logo {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__site {
    display: inline-block;
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-decoration: none !important;
  }

  &__reviews {
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__rating-value {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.9rem;
  }

  &__rating-star {
    margin-left: 0.5rem;
  }
}