@import "@/assets/scss/vars/modifiers/colors";

.school-review {
  padding-bottom: 5rem;

  &__content {
    position: relative;

    @media all and (max-width: 1200px) {
      padding-right: 0;
    }

    @media all and (max-width: 768px) {
      padding-right: 1rem;
    }
  }

  &__info {
    padding-right: 420px;
    padding-top: 3.5rem;

    @media all and (max-width: 1200px) {
      padding-right: 0;
    }

    @media all and (max-width: 576px) {
      padding-top: 3.5rem;
    }
  }

  &__sorts {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  &__sort {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      font-weight: 700;
    }
  }

  &__sort-icon {
    margin-right: 0.75rem;
  }

  &__review {
    background-color: $white;
    padding: 1.5rem;
    box-shadow: 0 16px 54px rgba(0, 0, 0, 0.064);
    border-radius: 0.625rem;
    max-width: 800px;
    margin-bottom: 2.5rem;

    @media all and (max-width: 1370px) {
      max-width: 670px;
    }

    @media all and (max-width: 1250px) {
      max-width: 640px;
    }

    @media all and (max-width: 1200px) {
      max-width: none;
    }

    @media all and (max-width: 768px) {
      padding: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__review-rate {
    margin-bottom: 1.5rem;
  }

  &__review-title {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  &__review-sub-title {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__review-text {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__review-info {
    display: flex;
    align-items: center;
  }

  &__review-avatar {
    padding-right: 1.5rem;
  }

  &__review-name-and-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__review-name {
    font-weight: 700;
  }

  &__review-date {
    color: $grey4;
    font-size: 0.875rem;
  }

  &__review-source {
    color: $grey4;
    font-size: 0.875rem;
    flex-grow: 1;
    text-align: right;
    align-self: flex-end;
  }
}