@import "@/assets/scss/vars/modifiers/colors";
@import "@/assets/scss/vars/animations/transition";
@import "@/assets/scss/animations/fade";

.search {
  transition: all $speedPrimary $functionPrimary;
  max-width: 410px;
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  text-align: left;

  &--focus {
    .search {
      &__item {
        background-color: $white !important;
        border: 1px solid $blue2 !important;
      }
    }
  }

  &--hover {
    .search {
      &__item {
        background-color: $blue1;
        border: 1px solid $blue1;
      }
    }
  }

  &__item {
    background-color: $grey1;
    border: 1px solid $grey1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: all $speedPrimary $functionPrimary;
    width: 100%;
  }

  &__input {
    flex-grow: 1;
  }

  &__icon {
    line-height: 0;
    flex-grow: 0;

    &--loop {
      margin-right: 0.75rem;
    }

    &--clean {
      margin-left: 0.75rem;
      cursor: pointer;
      width: 24px;
    }
  }

  &__element {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    color: $black;
    width: 100%;
    height: 48px;

    &::placeholder {
      opacity: 0.4;
    }
  }

  &__results {
    background-color: $white;
    position: absolute;
    box-shadow: 0 16px 54px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    z-index: 5;
    width: 100%;
    padding: 1rem;
    top: calc(51px + 0.5rem);
  }

  &__amount {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.31rem;
    color: $grey4;
    margin-bottom: 1rem;
  }

  &__courses {
    height: 450px;
    overflow-y: auto;

    &::-webkit-scrollbar
    {
      width: 10px;
    }

    &::-webkit-scrollbar-track
    {
      background-color: $grey1;
      border-radius: 9px;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 9px;
    }

    .course-search-result {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__action {
    padding-top: 1.5rem;
    text-align: center;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-weight: 800;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $blue2;

    .icon {
      margin-left: 0.5rem;
      line-height: 0;
    }
  }

  &__loader {
    flex-grow: 0;
    width: 25px;
    margin-left: 0.75rem;
  }
}
