@import "@/assets/scss/vars/modifiers/colors";

.promocode-logo {
  text-decoration: none;
  color: $black;

  &__image {
    width: 100%;
    max-width: 150px;
    height: auto;

    @media all and (max-width: 600px) {
      max-width: 100px;
    }

    &--box {
      width: 65px;
      height: 65px;
    }
  }

  &__label {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 800;
  }
}