@import "/assets/scss/vars/modifiers/main";

.clear {
  &--none {
    clear: none;
  }

  &--both {
    clear: both;
    float: none;
  }

  &--left {
    clear: left;
  }

  &--right {
    clear: right;
  }
}
