.content {
  max-width: calc(1400px + 6rem);
  width: 100%;
  box-sizing: border-box;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;

  &--small {
    max-width: calc(800px + 3rem * 2);
  }

  &__flex {
    display: flex;
  }

  @media all and (max-width: 768px) {
    max-width: calc(1400px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &--wide-mobile {
    @media all and (max-width: 768px) {
      max-width: 1400px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__3-4 {
    width: 85%;

    @media all and (max-width: 992px) {
      width: 100%;
    }
  }
}
