@import "@/assets/scss/vars/modifiers/colors";

.link {
  text-decoration: underline;
  color: $blue2;

  &:hover {
    text-decoration: none;
  }

  &--no-line {
    text-decoration: none !important;
  }
}

.links {
  A {
    text-decoration: underline;
    color: $blue2;

    &:hover {
      text-decoration: none;
    }
  }
}
