@import "@/assets/scss/vars/modifiers/colors";

.table {
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  border: 0;
  width: 100%;

  @media all and (max-width: 600px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  TD,
  TH
  {
    vertical-align: top;
    border: 0;
    border-spacing: 0;
    text-align: left;
    padding: 0.75rem;

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  TR,
  TH {
    border-bottom: 1px solid #EBEEF5;
  }

  TR {
    TH {
      font-weight: bold;
    }
  }

  TR {
    &:last-child {
      border-bottom-width: 0;
    }
  }

  TD {
    &.table {
      &--rate {
        font-weight: 650;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: right;
        letter-spacing: 0.004rem;
        font-variation-settings: 'slnt' 0;
      }
    }
  }
}
