@import "/assets/scss/vars/modifiers/main";

BODY {
  overflow-x: hidden;
}

DIV, SPAN, OBJECT, H1, H2,
H3, H4, H5, H6, P, OL, UL,
LI, TABLE, TBODY, TFOOT, THEAD, TR, TH, TD,
ARTICLE, ASIDE, CANVAS, FOOTER, HEADER,
MENU, NAV, SECTION {
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

TD {
  font-family: nth($font, 1), nth($font, 2);
  color: $color;
}

P {
  margin: 0;
  padding: 0 0 1rem 0;

  &:last-child {
    padding-bottom: 0;
  }
}
