@import "/assets/scss/vars/modifiers/main";
@import "/assets/scss/vars/modifiers/title";

.title {
  &--1,
  &--2,
  &--3,
  &--4,
  &--5,
  &--6 {
    padding: 0;
    margin: 0;
  }

  &--1,
  &--2,
  &--3,
  &--4,
  &--5,
  &--6 {
    font-family: nth($fonts, 1), nth($fonts, 2), nth($fonts, 3);
    font-weight: normal;
  }

  &--titles {
    H1,
    H2,
    H3,
    H4,
    H5,
    H6 {
      padding: 0;
      margin: 0;
    }

    H1,
    H2,
    H3,
    H4,
    H5,
    H6 {
      font-family: nth($fonts, 1), nth($fonts, 2), nth($fonts, 3);
      font-weight: normal;
    }
  }

  &--1,
  &--titles H1 {
    font-family: $title_1_font;
    color: $title_1_color;

    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
    font-weight: 600;

    @media all and (max-width: 500px) {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
  }

  &--2,
  &--titles H2 {
    font-family: $title_2_font;
    color: $title_2_color;

    font-size: 2.3rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 700;
    text-align: center;
  }

  &--3,
  &--titles H3 {
    font-family: $title_3_font;
    color: $title_3_color;

    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    margin-top: 1.7rem;
    font-weight: 600;
  }

  &--4,
  &--titles H4 {
    font-family: $title_4_font;
    color: $title_4_color;

    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
    margin-top: 1.2rem;
    font-weight: 600;
  }

  &--5,
  &--titles H5 {
    font-family: $title_5_font;
    color: $title_5_color;

    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    font-weight: 600;
  }

  &--6,
  &--titles H6 {
    font-family: $title_6_font;
    color: $title_6_color;

    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &--big {
    font-size: 2.1rem;
    line-height: 2.3rem;
  }
}
