@import "@/assets/scss/vars/modifiers/resolutions";

.vertical {
  &--middle {
    vertical-align: middle;

    @each $name, $resolution in $resolutions {
      @media all and (max-width: #{$resolution}) {
        &-#{$name} {
          vertical-align: middle;
        }
      }
    }
  }

  &--bottom {
    vertical-align: bottom;

    @each $name, $resolution in $resolutions {
      @media all and (max-width: #{$resolution}) {
        &-#{$name} {
          vertical-align: bottom;
        }
      }
    }
  }

  &--top {
    vertical-align: top;

    @each $name, $resolution in $resolutions {
      @media all and (max-width: #{$resolution}) {
        &-#{$name} {
          vertical-align: top;
        }
      }
    }
  }
}
