@import "@/assets/scss/vars/modifiers/resolutions";

.width {
  &--wide {
    width: 100%;

    @each $name, $resolution in $resolutions {
      @media all and (max-width: #{$resolution}) {
        &-#{$name} {
          width: 100% !important;
        }
      }
    }
  }

  &--auto {
    width: auto !important;

    @each $name, $resolution in $resolutions {
      @media all and (max-width: #{$resolution}) {
        &-#{$name} {
          width: auto !important;
        }
      }
    }
  }
}
