@import "@/assets/scss/vars/modifiers/colors";

.card {
  position: absolute;
  right: 0;
  width: 400px;
  bottom: 0;

  @media all and (max-width: 1600px) {
    right: 50px;
  }

  @media all and (max-width: 1200px) {
    position: static;
    width: auto;
  }

  @media all and (max-width: 576px) {
    display: none;
  }

  &--scroll {
    top: 0;
    bottom: auto;

    @media all and (max-width: 1200px) {
      display: none;
    }
  }

  &__box {
    z-index: 5;
    border-radius: 1rem;
    box-shadow: 0 16px 54px rgba(0, 0, 0, 0.08);
    width: 400px;
    position: absolute;
    background-color: $white;
    bottom: 0;

    @media all and (max-width: 1200px) {
      display: none;
    }

    &--scroll {
      position: fixed;
      top: 150px;
      bottom: auto;

      @media all and (max-width: 1200px) {
        display: none;
      }
    }
  }

  :deep(.card-rating) {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    top: 0.75rem;
    left: 0.75rem;
  }

  :deep(.card-brand-logo) {
    position: absolute;
    z-index: 2;
    top: 0.75rem;
    right: 0.75rem;
  }

  &__content {
    background-color: $white;
    padding: 1.5rem;
  }

  &__footer {
    background-color: $white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}