.info {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
  margin-bottom: -2.6rem;
  width: 70%;

  @media all and (max-width: 650px) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  @media all and (max-width: 1300px) {
    width: 100%;
  }

  :deep(.info-block) {
    width: calc(50% - 2.6rem);
    margin-bottom: 2.6rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;

    @media all and (max-width: 650px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}