.numerics {
  display: flex;
  flex-wrap: wrap;

  &--columns {
    &-1 {
      :deep(.numeric) {
        width: 100%;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-2 {
      margin-left: -0.9rem;
      margin-right: -0.9rem;

      :deep(.numeric) {
        width: calc(50% - 1.8rem);
        margin-left: 0.9rem;
        margin-right: 0.9rem;
        margin-bottom: 1.8rem;

        @media all and (max-width: 576px) {
          width: calc(100%);
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  @media all and (max-width: 576px) {
    margin-left: 0;
    margin-right: 0;
  }
}