@import "@/assets/scss/vars/modifiers/colors";

.teachers {
  margin-bottom: -2rem;

  &__items {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
  }

  :deep(.teacher) {
    width: calc(33.33% - 2rem);
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;

    @media all and (max-width: 1200px) {
      width: calc(25% - 2rem);
    }

    @media all and (max-width: 1000px) {
      width: calc(33.33% - 2rem);
    }

    @media all and (max-width: 850px) {
      width: calc(50% - 2rem);
    }

    @media all and (max-width: 576px) {
      flex-direction: column;
    }
  }
}