@import "@/assets/scss/vars/modifiers/colors";

.teachers {
  margin-bottom: -2rem;

  &__items {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(33.33% - 2rem);
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    color: $primary;
    text-decoration: none;

    @media all and (max-width: 1200px) {
      width: calc(25% - 2rem);
    }

    @media all and (max-width: 1000px) {
      width: calc(33.33% - 2rem);
    }

    @media all and (max-width: 850px) {
      width: calc(50% - 2rem);
    }

    @media all and (max-width: 576px) {
      flex-direction: column;
    }

    &:hover {
      .teachers {
        &__name {
          color: $blue3;
        }
      }
    }
  }

  &__picture {
    margin-right: 1.5rem;

    @media all and (max-width: 576px) {
      margin-right: 0;
    }
  }

  &__image {
    width: 80px;
    height: auto;
    border-radius: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;

    @media all and (max-width: 576px) {
      text-align: center;
    }
  }

  &__position {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;

    @media all and (max-width: 576px) {
      text-align: center;
    }
  }
}