.card-actions {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;

  &__item {
    &--button {
      flex-grow: 1;
      line-height: 0;
    }

    &--favorite {
      padding-left: 1.3rem;
      line-height: 0;
    }
  }
}