@import "@/assets/scss/vars/modifiers/colors";

.card-promocode-price {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__name,
  &__value {
    color: $black;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  &__name {
    flex-grow: 1;
    padding-right: 1rem;
  }

  &__value {
    flex-grow: 0;
    white-space: nowrap;
  }

  &--blue {
    .card-promocode-price {
      &__name,
      &__value {
        color: $blue2;
      }
    }
  }

  &--big {
    .card-promocode-price {
      &__name,
      &__value {
        font-size: 1.1rem;
        line-height: 1.3rem;
        font-weight: 800;
      }
    }
  }
}