.info-block {
  &__title {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    margin-bottom: 0.5rem;

    &::before {
      content: "—";
      font-weight: 800;
      font-size: 1.25rem;
      line-height: 1.5625rem;
      margin-right: 0.5rem;
    }
  }

  &__value {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 2.1rem;
  }
}