@import "@/assets/scss/vars/modifiers/colors";

.teacher {
  color: $primary;
  text-decoration: none;

  &:hover {
    .teacher {
      &__name {
        color: $blue3;
      }
    }
  }

  &__picture {
    margin-right: 1.5rem;

    @media all and (max-width: 576px) {
      margin-right: 0;
    }
  }

  &__image {
    width: 80px;
    height: auto;
    border-radius: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;

    @media all and (max-width: 576px) {
      text-align: center;
    }
  }

  &__position {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;

    @media all and (max-width: 576px) {
      text-align: center;
    }
  }
}