@import "@/assets/scss/vars/modifiers/colors";

.footer {
  background-color: $black;
  color: $white;
  padding-top: 7.25rem;
  padding-bottom: 10.5rem;

  @media all and (max-width: 900px) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  &__logo {
    margin-bottom: 2.3rem;

    @media all and (max-width: 900px) {
      text-align: center;
    }
  }

  &__info {
    color: $grey3;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    @media all and (max-width: 900px) {
      text-align: center;
    }
  }

  &__sides {
    display: flex;

    @media all and (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__side {
    &--left {
      width: 30%;
      padding-right: 2rem;

      @media all and (max-width: 900px) {
        order: 2;
        padding-right: 0;
        width: 100%;
      }
    }

    &--right {
      width: 70%;
      padding-left: 2rem;

      @media all and (max-width: 900px) {
        order: 1;
        padding-left: 0;
        width: 100%;
      }
    }
  }
}
