.course-row-favorite {
  text-align: center;
  width: 20px;
  line-height: 0;
  display: table;
  margin-left: 1.5rem;

  @media all and (max-width: 600px) {
    width: 30px;
    margin-left: 1rem;
  }

  &__heart {
    line-height: 0;
    display: table-row;
  }

  &__to-center {
    display: table-cell;
    vertical-align: middle;
  }
}