@import "@/assets/scss/vars/modifiers/colors";

.course-box-button {
  padding-top: 1.25rem;

  &__link {
    color: $blue2;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
  }
}