@import "@/assets/scss/vars/modifiers/colors";

.course-row-text {
  color: $black;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  height: 63px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
  overflow: hidden;

  &:deep(SPAN) {
    background-color: rgb(24%, 24%, 99%, 0.3);
  }
}