.course-row-image {
  height: 240px;

  &__element {
    width: 240px;
    height: 240px;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    cursor: pointer;
    line-height: 0;
  }
}