@import "/assets/scss/vars/modifiers/colors";

.course-promocode-popover-code-info-message {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;

  &__icon {
    line-height: 0;
    padding-right: 0.3125rem;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $white;
  }
}