@import "@/assets/scss/vars/modifiers/colors";

.course-tile-duration {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3rem;
  color: $grey4;

  @media all and (max-width: 600px) {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &--point {
    padding-right: calc(0.5rem + 4px);
    margin-right: 0.5rem;

    background-image: url("@/assets/images/point.svg");
    background-position: right center;
    background-repeat: no-repeat;
  }
}