@import "@/assets/scss/vars/modifiers/colors";

.header-teacher-school {
  align-items: center;
  display: flex;
  margin-bottom: 0.75rem;

  &__label {
    margin-right: 2rem;
  }

  &__link {
    color: $blue2;
    margin-right: 1.5rem;

    &:hover {
      text-decoration: none;
    }
  }
}